@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --primary-color: #222146;
  --light-color: #4e4acf;
}
* {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  padding: 1em;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  color: white;
}

.que-block .question {
  width: 70%;
  line-height: 2;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
  border: 1px solid transparent;
  border-radius: 10px;
}

/* upvote downvote buttons */

.vote-container {
  padding-right: 20px;
}
.vote-container button {
  margin: 0.2em;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

.upvote-btn.clicked {
  color: green;
  transition: 0.4s;
  transform: scale(1.1);
}

.downvote-btn.clicked {
  color: rgb(255, 54, 54);

  transition: 0.4s;
  transform: scale(1.1);
}

.ans-heading {
  display: flex;
  justify-content: space-between;
}
